@*@model IEnumerable<Freewheelers.Models.Bicycles>*@
@model Truewheelers.ViewModels.HomeViewModel
<h1>FreeWheelers</h1>
@*<table>
        @foreach (var model in Model)
        {
                <tr>
                    <td>
                        @(model.Brand)
                    </td>
                    <td>
                        @(model.Model)
                    </td>
                    <td>
                        @(model.Size)
                    </td>
                    <td>
                        @(model.Price)
                    </td>
                </tr>
        }
    </table>*@

<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.model.Brand)*@
            Brand
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.model.Colour)*@
            Colour
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.model.Model)*@
            Model
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.model.Price)*@
            Price
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.model.Size)*@
            Size
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Colour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                <form asp-controller="ShoppingCart" asp-action="Create" asp-route-id="@item.ID">
                    <button value="@item.ID">Add</button>
       </form>

   </td>


</tr>
    }
</table>


@*<form asp-controller="Home" asp-action="ShoppingCart">
        <button name="buttonID" value="@item.ID">Add</button>
        <input asp-for="Selected" value="@item" type="hidden" />
    </form>*@
